.header {
    display: flex;
    flex-direction: column;
    background-color: #F2E2C4;
    height: 20vh;
}

.title {
    height: 70%;
    width: auto;
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

}
.logo {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.shop-name {
	
	text-align: center;
}


.nav-bar {
    height: 30%;
    width: auto;
    background-color: #A68D60;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: 600;
}
.header-icons{
    display: flex;
    justify-content: flex-end;
}
.icons{
    height: 50%;
    width: auto;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Julius Sans One';
}

.content {
    height: 50vh;
    flex-grow: 1;
}

.footer {
    display: flex;
    height: 30vh;
    flex-direction: row;
    background-color: #383225;
    flex-shrink: 0;
}

.slogan {
    flex: 1;
    background-color: #F2E2C4;

    height: 100%;

}

.socialmedia {
    flex: 1;
    background-color: #F2E2C4;

    height: 100%;

}

.newsletter {
    flex: 1;
    background-color: #F2E2C4;
    height: 100%;

}

.nav-item {
    padding: 10px;
    margin: 5px;
        
}

